/* Custom CSS */
.header {
    height: 420px;
    background: url('/img/bg.png') no-repeat center center/cover;
}
.header img:hover {
    transform: scale(1.1);
}
.header .bg-success {
    padding: 0.25rem 1rem;
}
.product img:hover {
    transform: scale(1.1) rotate(-2deg);
}
